.feedback-container {
    label {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #27292D;
    }

    .title {
        box-sizing: border-box;
        width: 40%;
        height: 35px;
        background: #F5F5F5;
        border: 1px solid #C4C4C4;
        border-radius: 6px;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .select-questions {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        color: #27292D;
    }

    .form-check-label {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #707070;
    }
}

.feedback-fillout {
    text-align: center;
}


.btn-primary {
    background: linear-gradient(263.24deg, #E6511F 0.66%, #FF794C 100%);
    border-color: #E6511F;
    border-radius: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13.7826px;
    line-height: 21px;
    color: #FFFFFF;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(230 81 31 / 25%);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(230 81 31 / 25%);
}

.form-check-input:checked {
    background-color: #E6511F;
    border-color: #E6511F;
}

.page-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #27292D;
}

@media (max-width: 922px) {
    .title {
        width: 100% !important;
    }
}